
* {
    background-color: rgb(251, 238, 255);
    font-family:'Verdana', sans-serif;
}

.center {
    text-align: center;
    display: block;
}

ul, ol {
    text-align:left;
    display:inline-block;
}